@media screen and (min-width:1200px) {

    /* Home */
    .main-container {
        max-width: 1417px;
        margin: auto;
    }
}

@media screen and (max-width: 1440px) {

    .main-box {
        padding-right: 1% !important;
        padding-left: 1% !important;
    }

    /* FONT SIZES */
    h1,
    h1.font-size92 {
        font-size: 76px;
        line-height: 82px;
    }

    h2 {
        font-size: 54px;
        line-height: 58px;
    }

    h3 {
        font-size: 44px;
        line-height: 54px;
    }

    h5 {
        font-size: 21px;
        line-height: 28px;
    }

    .row {
        margin: 0;
    }

    .spacer {
        height: 30px;
    }

    /* Policy Pages */
    .privacy-policy-con {
        padding: 80px 0;
    }

    /* Back to top button */
    #button {
        bottom: 100px;
        right: 30px;
    }

    .padding-bottom {
        padding-bottom: 90px;
    }

    .padding-top {
        padding-top: 90px;
    }

    .privacy-policy-content-con p {
        margin-bottom: 20px;
    }

    .privacy-policy-content-con p {
        font-size: 17px;
        line-height: 26px;
    }

    .heading-title-con {
        margin-bottom: 45px;
    }

    /* 404 page styling start here*/
    .error-con h2 {
        font-size: 120px;
        line-height: 125px;
        margin-bottom: 25px;
    }

    .error-con p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    /* 404 page styling end here */
    /* coming soon page styling start here */
    .coming-soon-con h2 {
        font-size: 80px;
        line-height: 80px;
        margin-bottom: 30px;
    }

    .coming-soon-social-links ul li a {
        width: 55px;
        height: 55px;
    }

    /* coming soon page styling end here */
    .error-con h2 i {
        font-size: 110px;
        line-height: 110px;
    }

    .thank-you-con .thankyou-content-con figure {
        width: 160px;
        height: 160px;
        margin: 0 auto 38px;
    }

    .thank-you-con .thankyou-content-con h1 {
        margin-bottom: 20px;
    }

    /* TOP BAR & HEADER */
    .other_list div.country-selector>div.list {
        left: -47px;
    }

    .other_list div.currency-selector>div.list {
        left: -40px;
    }

    .header-con {
        padding: 20px 0;
    }

    .navbar-collapse .navbar-nav {
        margin-right: 0;
    }

    .navbar-nav .dropdown-menu {
        top: 49px;
    }

    /* FOOTER SECTION */
    .footer-con .middle_portion {
        padding: 75px 0;
    }

    /* NEWSLETTER */
    .newsletter-con {
        padding: 45px 0;
    }

    /* BENEFITS */
    .benefits-con .benefits-box {
        padding: 25px 18px;
    }

    .benefits-con {
        padding: 90px 0;
    }

    .sub-banner-con h1 {
        margin-bottom: 34px;
    }

    /* faq */

    .faq-con .accordian-inner .card-header a {
        padding: 20px 39px 20px 20px;
    }

    .faq-con .accordian-inner .card-body {
        padding: 0 37px 20px 20px;
    }

    .our-mission-con .mission-inner-con {
        padding-right: 40px;
    }

    /*  */
    .testimonial-con2 .carousel-indicators li img {
        position: relative;
        right: 1px;
    }

    .follow-con ul li {
        margin: 0 5px;
    }

    .follow-con .yellow-elipse {
        left: 33px;
        top: 192px;
        display: none;
    }

    .follow-con .purple-elipse {
        right: 36px;
        bottom: 64px;
        display: none;
    }

    .product-categories-con ul li figure {
        margin: 0 auto 22px;
    }

    .testimonial-con2 {
        padding-bottom: 150px;
    }

    .top-selling-products-con .row {
        margin-bottom: 40px;
    }

    .cta-con2 .vector3 {
        top: 50px;
        right: 47.5%;
    }

    .cta-con2 .cta-inner-wrapper {
        padding-left: 30px;
    }

    .cta-con2 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .cta-con2 .vector1 {
        right: 100px;
        top: 95px;
    }

    .cta-con2 .vector2 {
        right: 120px;
        bottom: 100px;
    }

    h4.font-size30 {
        font-size: 28px;
        line-height: 30px;
    }

    .cta-con2 h1 {
        margin-bottom: 25px;
    }

    .cta-con2 h4 {
        margin-bottom: 30px;
    }

    .our-collection-con .row {
        margin-bottom: 45px;
    }

    .promotion-con2 .promo2 .promo-content-con {
        padding-left: 0;
        padding-right: 20px;
    }

    .banner-con .banner-img1 {
        left: 20px;
        bottom: 0;
        width: 340px;
    }

    .banner-con .banner-img2 {
        right: 20px;
        bottom: 0;
        width: 295px;
    }

    .banner-con .banner-inner-wrapper {
        padding-top: 0;
    }

    .banner-con {
        height: auto;
        padding-top: 80px;
        background-position: center;
    }

    .banner-con p {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .banner-con h1.font-size92 {
        margin-bottom: 25px;
    }

    .button_down {
        bottom: 14px;
    }

    .heading3 {
        font-size: 34px;
        line-height: 40px;
    }

    .heading5 {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 1199px) {

    h1,
    h1.font-size92 {
        font-size: 56px;
        line-height: 60px;
        margin-bottom: 21px;
    }

    h2 {
        font-size: 44px;
        line-height: 50px;
    }

    h3 {
        font-size: 42px;
        line-height: 52px;
    }

    h4 {
        font-size: 21px;
        line-height: 27px;
    }

    h5 {
        font-size: 20px;
        line-height: 27px;
    }

    h6 {
        font-size: 19px;
        line-height: 22px;
    }

    /* h3 {font-size: 22px; line-height: 28px;} */

    /* Policy Pages */
    .privacy-policy-con {
        padding: 70px 0;
    }

    /* Back to top button */
    #button {
        width: 60px;
        height: 60px;
        bottom: 90px;
    }

    #button::after {
        font-size: 16px;
    }

    .error-con h4 {
        font-size: 29px;
        line-height: 30px;
    }

    .padding-top {
        padding-top: 80px;
    }

    .padding-bottom {
        padding-bottom: 80px;
    }

    .thank-you-con .thankyou-content-con figure {
        width: 140px;
        height: 140px;
        margin: 0 auto 28px;
    }

    .thank-you-con .thankyou-content-con figure img {
        width: 80px;
    }

    .thank-you-con .thankyou-content-con p {
        font-size: 19px;
        line-height: 30px;
        margin-bottom: 28px;
    }

    .thank-you-con .primary_btn {
        min-width: 190px;
    }

    /* TOP BAR & HEADER SECTION */
    .navbar-nav li {
        margin: 0 10px;
    }

    .navbar-nav .dropdown-menu {
        top: 49px;
        min-width: 196px;
    }

    .navbar-nav .nav-item a {
        font-size: 14px !important;
        line-height: 14px !important;
    }

    .header-con .last_list {
        margin-left: 30px;
    }

    /* FOOTER SECTION */
    .footer-con .middle_portion {
        padding: 60px 0;
    }

    .footer-con .middle_portion .logo-content a {
        margin-bottom: 25px;
    }

    .footer-con .middle_portion .links {
        padding-left: 15px;
    }

    .footer-con .middle_portion .use-link {
        padding-left: 35px;
    }

    .footer-con .middle_portion .icon {
        padding-left: 0;
    }

    .footer-con .copyright {
        padding: 15px 0;
    }

    /* NEWSLETTER */
    .newsletter-con input {
        height: 58px;
        width: 380px;
    }

    .newsletter-con button {
        width: 165px;
    }

    .newsletter-con {
        padding: 40px 0;
    }

    /* BENEFITS CON */
    .benefits-con span {
        font-size: 17px;
        line-height: 27px;
    }

    .benefits-con .benefits-box {
        padding: 22px 10px;
    }

    .benefits-con .benefits-box img {
        margin-right: 6px;
        margin-top: 5px;
        width: 39px;
    }

    .benefits-con {
        padding: 80px 0;
    }

    .footer-con .middle_portion h5 {
        margin-bottom: 25px;
    }

    .primary_btn,
    .secondary_btn {
        min-width: 180px;
        height: 58px;
        line-height: 58px;
    }

    .special-text {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .heading3 {
        font-size: 32px;
        line-height: 40px;
    }

    .promotion-con .promotion-box3 {
        padding: 25px 25px 0 25px;
    }

    .promotion-con p br {
        display: none;
    }

    .promotion-con .promotion-box4,
    .promotion-con .promotion-box5 {
        padding: 40px 40px;
    }


    .sub-banner-con {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .sub-banner-con h1 {
        margin-bottom: 28px;
    }

    .privacy-policy-content-con ul li {
        padding-left: 22px;
        margin-bottom: 6px;
    }

    /* faq section */

    /*  */
    .faq-con .accordion-card h6 {
        font-size: 18px;
    }

    .faq-con .accordian-inner .card-header a {
        padding: 15px 34px 15px 12px;
    }

    .faq-con .accordion-card .btn-link:before {
        right: 12px;
        font-size: 16px;
    }

    .faq-con .accordian-inner .card-body {
        padding: 0 37px 18px 16px;
    }

    .faq-con .card-body p {
        font-size: 16px;
        line-height: 26px;
    }

    .about-us-content-con h2 {
        margin-bottom: 14px;
    }

    .about-us-content-con {
        padding-left: 0;
    }

    .about-us-content-con p.last-prgrfh {
        margin-bottom: 20px;
    }

    .contact-help-con .white-box {
        padding: 34px 26px;
    }

    .contact-help-con .white-box figure {
        margin: 0 auto 16px;
    }

    .contact-help-con .white-box h6 {
        margin-bottom: 12px;
    }

    .contact-form-con form ul li {
        width: 32%;
        margin-right: 18px;
        margin-bottom: 25px;
    }

    .contact-form-con form ul li:last-child {
        margin-bottom: 30px;
    }

    .contact-form-con form ul li textarea {
        height: 120px;
    }

    /*  */
    .contact-map-con iframe {
        height: 450px;
    }

    .contact-help-con .white-box ul li br {
        display: none;
    }

    .follow-con ul li {
        margin: 0 9px;
    }

    .follow-con .top-box {
        top: 0;
    }

    .follow-con li .image img {
        width: 200px;
    }

    .follow-con li .icon i {
        font-size: 20px;
    }

    /*  */
    .testimonial-con2 .testimonial-box ul {
        margin-bottom: 10px;
    }

    .testimonial-con2 .testimonial-box p {
        margin-bottom: 20px;
    }

    .testimonial-con2 .testimonial-sideimage {
        left: 15px;
    }

    .testimonial-con2 .testimonial-sideimage img {
        width: 55px;
    }

    .testimonial-con2 .testimonial-box .lower_content {
        margin-bottom: 35px;
    }

    .testimonial-con2 .carousel-indicators li {
        margin: 0 6px;
    }

    .testimonial-con2 .carousel-indicators li figure {
        width: 70px;
        height: 70px;
        line-height: 67px;
    }

    .testimonial-con2 .carousel-indicators li img {
        width: 56px;
    }

    .our-team-con .owl-prev {
        left: -33px;
    }

    .our-team-con .owl-next {
        right: -33px;
    }

    .product-categories-con ul li figure {
        width: 115px;
        height: 115px;
    }

    .follow-con .yellow-elipse {
        width: 100px;
    }

    .follow-con .purple-elipse {
        width: 100px;
    }

    .testimonial-con2 {
        padding-bottom: 120px;
    }

    .top-selling-products-con .row {
        margin-bottom: 35px;
    }

    .cta-con2 .cta-inner-wrapper {
        padding-left: 0;
    }

    h4.font-size30 {
        font-size: 24px;
        line-height: 26px;
    }

    .cta-con2 h4 {
        margin-bottom: 27px;
    }

    .cta-con2 {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .cta-con2 .vector3 {
        top: 36px;
        right: 49.5%;
        width: 38px;
    }

    .cta-con2 .vector2 {
        right: 60px;
        bottom: 65px;
        width: 70px;
    }

    .cta-con2 .vector1 {
        right: 76px;
        top: 80px;
        width: 42px;
    }

    .cta-con2 .cta-inner-wrapper .secondary_btn {
        width: 190px;
    }

    .our-collection-con .row {
        margin-bottom: 35px;
    }

    .our-collection-con .col-xl-4.col-lg-6.col-md-6:nth-last-of-type(-n+3) {
        margin-bottom: 30px;
    }

    .our-collection-con .col-xl-4.col-lg-6.col-md-6:nth-last-of-type(-n+2) {
        margin-bottom: 0;
    }

    .promotion-con2 .promo-box1 figure img {
        max-width: 100%;
        height: auto;
    }

    .promo-content-con {
        padding-left: 24px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .promotion-con2 .promo-box1.bg-light1 figure {
        width: 170px;
    }

    .promotion-con2 .promo2 .promo-content-con {
        padding-left: 0;
        padding-right: 10px;
    }

    .promotion-con2 .promo3 .promo-content-con {
        padding: 30px 0 0 0;
    }

    .heading5 {
        font-size: 30px;
        line-height: 34px;
    }

    .banner-con .banner-img1 {
        left: 0;
        width: 300px;
    }

    .banner-con {
        padding-top: 60px;
    }

    .banner-con span.banner-span {
        font-size: 15px;
        margin-top: 12px;
        margin-bottom: 8px;
    }

    .banner-con .banner-img2 {
        right: 0;
        width: 270px;
    }

    .banner-con .secondary_btn {
        margin-bottom: 110px;
    }

    .banner-con h1.font-size92 {
        margin-bottom: 22px;
    }

    .banner-con p {
        font-size: 19px;
        line-height: 30px;
        margin-bottom: 18px;
    }

    .banner-con .button_down figure img.btndown-img {
        width: 25px;
    }

}

@media screen and (max-width: 991px) {

    h1,
    h1.font-size92 {
        font-size: 42px;
        line-height: 48px;
        margin-bottom: 12px;
    }

    h2 {
        font-size: 36px;
        line-height: 42px;
    }

    h3 {
        font-size: 34px;
        line-height: 42px;
    }

    h5 {
        font-size: 20px;
        line-height: 25px;
    }

    p {
        font-size: 17px;
        line-height: 26px;
    }

    button:focus {
        outline: none;
    }

    /* Policy Pages */
    .privacy-policy-con {
        padding: 60px 0;
    }

    /* Back to top button */
    #button {
        width: 55px;
        height: 55px;
        bottom: 74px;
        right: 30px;
    }

    #button::after {
        font-size: 14px;
        line-height: 14px;
    }

    .spacer {
        height: 20px;
    }

    /* coming soon */
    .coming-soon-con {
        position: relative;
        padding: 0;
    }

    /* 404 page */
    .error-con h2 i {
        font-size: 100px;
        line-height: 120px;
    }

    .error-con h2 {
        margin-bottom: 15px;
    }

    .error-con .generic-btn a {
        font-size: 16px;
        padding: 20px 40px;
    }

    .coming-soon-con h2 {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 30px;
    }

    /* coming soon  */
    .coming-soon-con .new-logo {
        width: 200px;
    }

    /* coming soon page */
    .compaign_countdown ul li {
        margin: 0 8px;
        min-height: auto;
        /* width: 21%; */
        min-width: 100px;
        font-size: 18px;
        padding: 15px 16px;
    }

    .compaign_countdown ul li span.days,
    .compaign_countdown ul li span.hours,
    .compaign_countdown ul li span.minutes,
    .compaign_countdown ul li span.seconds {
        font-size: 42px;
        line-height: 52px;
    }

    .coming-soon-con h1 {
        margin-bottom: 28px;
        font-size: 60px;
        line-height: 60px;
    }

    .padding-bottom {
        padding-bottom: 60px;
    }

    .padding-top {
        padding-top: 60px;
    }

    #button {
        width: 55px;
        height: 55px;
        bottom: 56px;
        right: 30px;
    }

    .coming-soon-con h2 {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 30px;
    }


    /* Login Page */
    .login-form .login-form-title {
        margin-bottom: 30px;
    }

    .login-form .login-card .btn-primary {
        font-size: 16px;
        line-height: 16px;
    }

    .login-form .login-card .forgot-password {
        font-size: 16px;
    }

    .login-form .login-form-box .join-now-outer a {
        font-size: 16px;
    }

    .login-page-logo img {
        width: 190px;
    }

    .heading-title-con {
        margin-bottom: 30px;
    }

    .thank-you-con .thankyou-content-con p br {
        display: none;
    }

    .thank-you-con .thankyou-content-con p {
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 24px;
        padding: 0 4%;
    }

    .thank-you-con .thankyou-content-con h1 {
        margin-bottom: 18px;
    }

    .thank-you-con .thankyou-content-con figure {
        width: 120px;
        height: 120px;
        margin: 0 auto 18px;
    }

    .thank-you-con .thankyou-content-con figure img {
        width: 70px;
    }

    #search input[type="search"] {
        font-size: 30px;
        padding: 6px;
    }

    #search .close {
        font-size: 22px;
    }

    /* TOP BAR */
    .top-bar-con .top-bar-box {
        display: block;
        text-align: center;
    }

    .header-con {
        padding: 15px 0;
    }

    .navbar-brand {
        position: relative;
        left: 0;
    }

    .navbar-toggler {
        margin-left: auto;
        border: none !important;
        padding: 0;
        width: 30px;
        height: 22px;
        position: absolute;
        right: 0;
    }

    .navbar-light .navbar-toggler-icon {
        background: var(--primary--color);
        height: 2px;
        margin: 7px 0 0 0;
        width: 100%;
        float: right;
    }

    .navbar-toggler.collapsed span:nth-child(1) {
        transform: rotate(0deg);
    }

    .navbar-toggler span.navbar-toggler-icon:first-child {
        margin-top: 0;
    }

    .navbar-toggler span:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: 0% 80%;
    }

    .navbar-toggler span.navbar-toggler-icon {
        transition: all 0.15s
    }

    .navbar-toggler.collapsed span:nth-child(2) {
        opacity: 1;
    }

    .navbar-toggler span:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggler.collapsed span:nth-child(3) {
        transform: rotate(0deg);
    }

    .navbar-toggler span:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 15% 100%;
    }

    .collapse:not(.show) {
        display: none;
    }

    button:focus {
        outline: none;
    }

    .navbar-collapse {
        background: var(--secondary--color);
        position: absolute;
        right: 0px;
        width: 100%;
        top: 47px;
        border-radius: 0;
        z-index: 16;
        padding: 0;
        box-shadow: 0px 0px 100px rgb(0 0 0 / 25%);
    }

    .navbar-collapse .drop-down-pages {
        margin-left: 0;
    }

    .navbar-collapse .navbar-nav {
        align-items: unset;
        text-align: unset;
        margin-left: 0;
    }

    .navbar li {
        margin: 0;
        border-bottom: 1px solid var(--secondary--color);
    }

    .navbar li:nth-last-child(2) {
        border-bottom: none;
    }

    .navbar-nav li:last-child {
        margin: 0;
        border: none;
    }

    .navbar-nav .nav-item a {
        padding: 12px 20px !important;
        color: var(--text--color) !important;
    }

    .navbar-nav .nav-item a:hover {
        color: var(--secondary--color) !important;
        background-color: var(--primary--color);
    }

    .navbar-nav .active>a {
        color: var(--secondary--color) !important;
        background-color: var(--primary--color);
    }

    .navbar-nav .drop-down-pages .nav-item a {
        padding: 8px 32px !important;
        color: var(--text--color) !important;
        /* white-space: break-spaces; */
        position: relative;
    }

    .navbar-nav .drop-down-pages .active>a {
        color: var(--secondary--color) !important;
        background-color: var(--primary--color) !important;
    }

    .navbar-nav .drop-down-pages .active>a:hover {
        background-color: var(--primary--color) !important;
    }

    .navbar-nav .nav-item .dropdown-item:hover {
        background-color: var(--primary--color) !important;
    }

    .navbar-nav .dropdown-menu {
        position: static;
        border: none;
        margin-top: 2px;
        background-color: var(--secondary--color);
        box-shadow: none;
        min-width: 100%;
    }

    .navbar-nav .drop-down-pages a {
        padding: 0 !important;
    }

    .navbar-nav .drop-down-pages li:first-child a::before {
        display: none;
    }

    .navbar-nav .drop-down-pages li:first-child a:hover::before {
        display: none;
    }

    .navbar-nav .drop-down-pages .active:first-child>a::before {
        display: none;
    }

    .header-con .last_list {
        margin-left: 0;
        margin-right: 35px;
    }

    /* FOOTER SECTION */
    .footer-con .middle_portion {
        padding: 40px 0;
    }

    .footer-con .middle_portion .logo-content {
        text-align: center;
        width: 100%;
        margin: 0 auto 25px;
    }

    .footer-con .middle_portion .logo-content a {
        margin-bottom: 17px;
    }

    .footer-con .middle_portion .social-icons i {
        font-size: 12px;
        height: 36px;
        width: 36px;
        line-height: 35px;
    }

    .footer-con .middle_portion p {
        margin-bottom: 12px;
    }

    .footer-con .middle_portion .links {
        padding: 0 !important;
    }

    .footer-con .copyright {
        padding: 12px 0;
    }

    .footer-con .middle_portion h5 {
        margin-bottom: 20px;
    }

    .newsletter-con input {
        height: 56px;
        width: 275px;
        margin-right: 11px;
    }

    .newsletter-con button {
        width: 140px;
        height: 56px;
        padding: 14px 20px;
    }

    .newsletter-con {
        padding: 30px 0;
    }

    .newsletter-con button i {
        margin-left: 10px;
    }

    .newsletter-con .container {
        padding: 0;
    }

    .benefits-con .benefits-box {
        padding: 22px 40px;
    }

    .benefits-con .benefits-box img {
        margin-right: 20px;
        margin-top: 6px;
        width: auto;
    }

    .benefits-con .col-lg-3.col-md-6 {
        margin-bottom: 20px;
    }

    .benefits-con .col-lg-3.col-md-6:nth-last-of-type(-n+2) {
        margin-bottom: 0;
    }

    .primary_btn,
    .secondary_btn {
        min-width: 170px;
        height: 55px;
        line-height: 55px;
        font-size: 15px;
    }

    .special-text {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 8px;
    }

    .promotion-con .promotion-box1 img {
        bottom: 0;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    .promotion-con .col-lg-6.col-md-12 {
        margin-bottom: 30px;
    }

    .promotion-con .promotion-box3 figure::after {
        right: -10px;
    }

    .promotion-con .promotion-box4,
    .promotion-con .promotion-box5 {
        padding: 30px;
    }

    .promotion-con .promotion-box4 h2,
    .promotion-con .promotion-box5 h2 {
        margin-bottom: 20px;
    }

    .header-con .last_list a {
        margin: 0px 10px;
    }

    .benefits-con {
        padding: 60px 0;
    }

    .sub-banner-con {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .sub-banner-con h1 {
        margin-bottom: 23px;
    }

    .privacy-policy-content-con ul li {
        font-size: 16px;
        line-height: 24px;
    }

    /* faq */
    .faq-con .accordion-card {
        margin-bottom: 20px;
    }

    .faq-con .accordion-card .btn-link:before {
        top: 12px;
    }

    .faq-con .accordian-inner .card-body p {
        font-size: 16px;
    }

    .faq-con .accordian-inner .card-body {
        padding: 0 34px 18px 16px;
    }

    .faq-con .accordion-card:last-child {
        margin-bottom: 20px;
    }

    .about-us-content-con p {
        line-height: 26px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .our-mission-con .mission-inner-con {
        padding-right: 0;
    }

    .our-mission-con .col-lg-6 {
        padding-left: 0;
    }

    .our-mission-con .mission-inner-con h2 {
        margin-bottom: 16px;
    }

    .our-mission-con .mission-inner-con p {
        line-height: 27px;
    }

    .our-team-con .team-box figure {
        margin-bottom: 20px;
        width: 250px;
    }

    .our-team-con .owl-next {
        right: 0;
    }

    .our-team-con .owl-prev {
        left: 0;
    }

    .our-team-con .team-box ul li i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .our-team-con .team-box .designation {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .contact-help-con .white-box {
        padding: 25px 10px;
    }

    .contact-help-con .white-box ul li {
        font-size: 15px;
    }

    .contact-help-con .white-box h6 {
        margin-bottom: 10px;
    }

    .contact-help-con .white-box figure {
        height: 65px;
        line-height: 65px;
        width: 65px;
        margin: 0 auto 14px;
    }

    .contact-help-con .white-box ul li a {
        font-size: 15px;
    }

    .contact-form-con form ul li {
        width: 32%;
        margin-right: 13px;
        margin-bottom: 25px;
    }

    .contact-map-con iframe {
        height: 400px;
    }

    /*  */
    .follow-con ul {
        width: 600px;
        margin: 0 auto;
    }

    .follow-con ul li {
        margin: 0 10px 25px;
    }

    .follow-con ul li:first-child {
        margin-left: 10px;
    }

    .follow-con ul li:last-child {
        margin-right: 10px;
    }

    /*  */
    .testimonial-con2 .testimonial-sideimage {
        display: none;
    }

    .testimonial-con2 .testimonial-box ul {
        margin-bottom: 4px;
    }

    .testimonial-con2 .testimonial-box ul li i {
        font-size: 14px;
        line-height: 14px;
    }

    .testimonial-con2 .testimonial-box p {
        margin-bottom: 15px;
        padding: 0 20px;
    }

    .testimonial-con2 .testimonial-box .lower_content {
        margin-bottom: 28px;
    }

    .testimonial-con2 .testimonial-box .name {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 0;
    }

    .testimonial-con2 .carousel-inner {
        width: 100%;
    }

    .testimonial-con2 .carousel-control-prev i,
    .testimonial-con2 .carousel-control-next i {
        top: 16px;
    }

    .testimonial-con2 .carousel-control-prev i {
        left: 170px;
    }

    .testimonial-con2 .carousel-control-next i {
        right: 160px;
    }

    /*  */
    .follow-con .yellow-elipse,
    .follow-con .purple-elipse {
        display: none;
    }

    .product-categories-con ul li figure {
        width: 110px;
        height: 110px;
        margin: 0 auto 17px;
    }

    .product-categories-con ul {
        display: block !important;
    }

    .product-categories-con ul li {
        display: inline-block;
        margin: 0 20px 22px;
    }

    .testimonial-con2 .testimonial-box .review {
        font-size: 14px;
    }

    .top-selling-products-con .col-lg-3.col-md-6 {
        margin-bottom: 25px;
    }

    .top-selling-products-con .col-lg-3.col-md-6:nth-last-of-type(-n+2) {
        margin-bottom: 0;
    }

    .cta-con2 {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    h4.font-size30 {
        font-size: 20px;
        line-height: 24px;
    }

    .cta-con2 .vector1 {
        right: 45px;
        top: 67px;
        width: 35px;
    }

    .cta-con2 .vector3 {
        top: 23px;
        right: 49.5%;
        width: 33px;
    }

    .cta-con2 .vector2 {
        right: 45px;
        bottom: 45px;
        width: 60px;
    }

    .cta-con2 .cta-inner-wrapper .secondary_btn {
        width: 180px;
        font-size: 14px;
    }

    .cta-con2 h4 {
        margin-bottom: 20px;
    }

    .promotion-con2 .col-12 {
        margin-bottom: 20px;
    }

    .discount-upto-tag span {
        font-size: 16px;
    }

    .promotion-con2 .col-lg-4.col-md-6 {
        margin-bottom: 30px;
    }

    .promotion-con2 .col-lg-4.col-md-6:last-child {
        margin: 0 auto;
    }

    .promotion-con2 a {
        font-size: 13px;
        margin-top: 10px;
    }

    .heading5 {
        font-size: 28px;
        line-height: 34px;
    }

    .heading3 {
        font-size: 30px;
        line-height: 36px;
    }

    .promo-content-con {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    .promotion-con2 .promo3 .promo-content-con {
        padding: 18px 0 0 0;
    }

    .banner-con .banner-img1 {
        left: 0;
        width: 240px;
    }

    .banner-con .banner-img2 {
        right: 0;
        width: 215px;
    }

    .banner-con .secondary_btn {
        margin-bottom: 90px;
    }

    .banner-con p {
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 16px;
        padding: 0 22%
    }

    .banner-con {
        padding-top: 40px;
    }

    .banner-con p br {
        display: none;
    }


}



@media screen and (max-width: 767px) {

    h1,
    h1.font-size92 {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 12px;
    }

    h2 {
        font-size: 30px;
        line-height: 36px;
    }

    h4 {
        font-size: 20px;
        line-height: 26px;
    }

    /* h3 {font-size: 18px; line-height: 24px;} */

    .text-size-18 {
        font-size: 14px;
        line-height: 22px;
    }

    .text-size-16 {
        font-size: 14px;
        line-height: 22px;
    }

    .text-size-14 {
        font-size: 14px;
        line-height: 22px;
    }

    /* Policy Pages */
    .privacy-policy-con {
        padding: 40px 0;
    }

    /* Back to top button */
    #button {
        width: 50px;
        height: 50px;
        right: 30px;
        bottom: 48px;
    }

    /* coming soon page  */
    .error-con .generic-btn a {
        padding: 16px 30px;
        font-size: 15px;
    }

    .coming-soon-con h2 {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .coming-soon-social-links ul li a {
        width: 45px;
        height: 45px;
    }

    .coming-soon-social-links ul {
        margin-bottom: 26px;
    }

    .error-con {
        padding: 0;
    }

    /* 404 */
    .error-con p {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .error-con h2 {
        font-size: 100px;
        line-height: 100px;
        margin-bottom: 10px;
    }

    .error-con .secondary-button a {
        min-width: 200px;
    }

    /* coming soon page styling */
    .compaign_countdown ul li {
        margin: 0 8px;
        min-width: 84px;
        padding: 15px;
        font-size: 16px;
    }

    .compaign_countdown ul li span.days,
    .compaign_countdown ul li span.hours,
    .compaign_countdown ul li span.minutes,
    .compaign_countdown ul li span.seconds {
        font-size: 30px;
        line-height: 30px;
    }

    .compaign_countdown ul {
        float: left;
        width: 100%;
        min-width: 100%;
        display: inline-block;
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .coming-soon-con h1 {
        margin-bottom: 22px;
        font-size: 46px;
        line-height: 46px;
    }

    .coming-soon-con h3 {
        font-size: 24px;
    }

    .coming-soon-con .new-logo {
        width: 150px;
    }

    .coming-soon-con h3 {
        margin-bottom: 16px;
    }

    .error-con h4 {
        font-size: 21px;
        line-height: 22px;
        margin-bottom: 18px;
    }

    .error-con h2 i {
        font-size: 85px;
        line-height: 97px;
    }

    .error-con p {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .error-con h2 {
        font-size: 100px;
        line-height: 100px;
        margin-bottom: 10px;
    }

    .error-con .secondary-button a {
        min-width: 210px;
        font-size: 15px;
    }

    .error-con .primary_btn {
        min-width: 210px;
    }

    .padding-bottom {
        padding-bottom: 50px;
    }

    .padding-top {
        padding-top: 50px;
    }

    p {
        font-size: 16px;
        line-height: 26px;
    }

    /* Login page */
    .login-form .login-form-box {
        width: 450px;
    }

    .login-form .login-form-title {
        margin-bottom: 20px;
    }

    .login-form .login-card .btn-primary {
        font-size: 14px;
        line-height: 14px;
        padding: 14px 20px;
    }

    .login-form .login-card .forgot-password {
        font-size: 14px;
    }

    .login-form .login-card label {
        font-size: 15px;
    }

    .login-form .login-card .input-field {
        font-size: 14px;
        padding: 0 15px;
        height: 46px;
        line-height: 42px;
    }

    .login-form .login-card {
        margin-bottom: 20px;
    }

    .login-form .login-form-box .join-now-outer a {
        font-size: 14px;
    }

    .sign-up-form .login-card .select-option {
        padding: 0 30px 0 15px;
        background-position: 96.5% 20px !important;
    }

    .login-page-logo img {
        width: 170px;
    }

    .thank-you-con .thankyou-content-con figure {
        width: 100px;
        height: 100px;
        margin: 0 auto 15px;
    }

    .thank-you-con .thankyou-content-con figure img {
        width: 60px;
    }

    .thank-you-con .thankyou-content-con h1 {
        margin-bottom: 14px;
    }

    .thank-you-con .thankyou-content-con p {
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 20px;
        padding: 0px 2%;
    }

    .thank-you-con .primary_btn {
        min-width: 180px;
    }

    /* TOP BAR & HEADER */
    .header-con {
        padding: 15px 0;
    }

    .navbar-collapse {
        top: 45px;
    }

    /* FOOTER SECTION */
    .footer-con .middle_portion .logo-content {
        width: 440px;
        margin-bottom: 25px;
    }

    .footer-con .middle_portion li {
        margin-bottom: 2px;
    }

    .footer-con .middle_portion .icon .text {
        margin-bottom: 6px;
        padding-left: 26px;
    }

    .footer-con .middle_portion .icon i {
        top: 3px;
    }

    .footer-con .middle_portion .icon a {
        font-size: 14px;
        line-height: 20px;
        display: block;
    }

    .other_list .currency-selector>div.caption img {
        margin-left: 2px;
    }

    .other_list div.currency-selector>div.list {
        left: -45px;
    }

    .newsletter-con .d-flex {
        display: block !important;
        text-align: center;
    }

    h3 {
        font-size: 28px;
        line-height: 36px;

    }

    .special-text {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .newsletter-con h3 {
        margin-bottom: 15px !important;
    }

    h3 br {
        display: none;
    }

    .newsletter-con input {
        height: 52px;
        width: 70%;
        margin-right: 8px;
    }

    .newsletter-con button {
        width: 140px;
        height: 52px;
        padding: 12px 16px;
    }

    .footer-con .middle_portion {
        padding: 34px 0;
    }

    .footer-con .middle_portion .icon a br {
        display: none;
    }

    .footer-con .middle_portion h5 {
        margin-bottom: 16px;
    }

    .benefits-con .col-lg-3.col-md-6:nth-last-of-type(-n+2) {
        margin-bottom: 20px;
    }

    .benefits-con .col-lg-3.col-md-6:nth-last-of-type(-n+1) {
        margin-bottom: 0;
    }

    .benefits-con .col-lg-3.col-md-6 {
        margin-bottom: 20px;
        margin: 0 auto 20px;
        width: 320px;
    }

    .benefits-con .benefits-box img {
        margin-right: 16px;
        margin-top: 0;
        width: auto;
    }

    .benefits-con .benefits-box {
        align-items: center;
    }

    .benefits-con {
        padding: 40px 0;
    }

    .promotion-con .col-lg-6.col-md-6 {
        margin-bottom: 30px;
    }

    .promotion-box5 {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .promotion-box5 .promo-inner5 {
        text-align: center !important;
    }

    .off-tag {
        font-size: 36px;
        line-height: 44px;
    }

    .sub-banner-con {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .sub-banner-con h1 {
        margin-bottom: 20px;
    }

    .breadcrumb {
        padding: 14px 27px;
        min-width: 180px;
    }

    .breadcrumb-item {
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
    }

    .privacy-policy-content-con ul li {
        text-align: left;
    }

    /* faq */

    .faq-con .accordion-card:last-child {
        margin-bottom: 20px;
    }

    .faq-con .accordion-card h6 {
        font-size: 17px;
    }

    /* about */
    .about-us-con {
        text-align: center;
    }

    .about-us-img-con figure {
        width: 300px;
        margin: 0 auto 20px;
    }

    .our-mission-con::before {
        width: 100%;
        opacity: 12%;
    }

    .our-mission-con {
        text-align: center;
    }

    .our-team-con .owl-prev {
        left: 30px;
    }

    .our-team-con .owl-next {
        right: 30px;
    }

    .our-mission-con .col-lg-6 {
        padding-left: 15px;
    }

    /*  */
    .contact-help-con .col-lg-4.col-md-4 {
        margin-bottom: 25px;
    }

    .contact-help-con .col-lg-4.col-md-4:last-child {
        margin-bottom: 0;
    }

    .contact-help-con .white-box ul {
        margin-bottom: 0;
    }

    .contact-form-con form ul li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 18px;
    }

    .contact-form-con form ul li textarea {
        height: 100px;
    }

    .contact-form-con form ul li input {
        padding: 11px 19px;
        height: 54px;
    }

    .contact-form-con form ul li:last-child {
        margin-bottom: 25px;
    }

    .contact-map-con iframe {
        height: 350px;
    }

    /*  */
    .follow-con ul {
        width: 510px;
    }

    .follow-con ul li {
        margin: 0 8px 20px;
    }

    .follow-con ul li:first-child {
        margin-left: 8px;
    }

    .follow-con ul li:last-child {
        margin-right: 8px;
    }

    .follow-con li .image img {
        width: 155px;
    }

    .follow-con li .icon i {
        font-size: 18px;
    }


    .testimonial-con2 .testimonial-box ul {
        margin-bottom: 2px;
    }

    .testimonial-con2 .testimonial-box ul li i {
        font-size: 13px;
        line-height: 13px;
    }

    .testimonial-con2 .testimonial-box p {
        margin-bottom: 10px;
        padding: 0;
    }

    .testimonial-con2 .testimonial-box .lower_content {
        margin-bottom: 28px;
    }

    .testimonial-con2 .testimonial-box .name {
        font-size: 18px;
        line-height: 22px;
    }

    .testimonial-con2 .testimonial-box .review {
        font-size: 14px;
        line-height: 20px;
    }

    .testimonial-con2 .carousel-indicators li {
        margin: 0 3px;
    }

    .testimonial-con2 .carousel-indicators li figure {
        width: 63px;
        height: 64px;
        line-height: 60px;
    }

    .testimonial-con2 .carousel-indicators li img {
        width: 52px;
    }

    /* Specific styles for Firefox */
    @-moz-document url-prefix() {
        .testimonial-con2 .carousel-indicators li figure {
            line-height: 62px;
        }
    }

    .testimonial-con2 .carousel-control-prev i,
    .testimonial-con2 .carousel-control-next i {
        font-size: 15px;
        top: 12px;
    }

    .testimonial-con2 .carousel-control-prev i {
        left: 90px;
    }

    .testimonial-con2 .carousel-control-next i {
        right: 85px;
    }

    .testimonial-con2 {
        padding-bottom: 100px;
    }

    .top-selling-products-con .row {
        margin-bottom: 25px;
    }

    .top-selling-products-con .col-lg-3.col-md-6:nth-last-of-type(-n+2) {
        margin-bottom: 25px;
    }

    .top-selling-products-con .col-lg-3.col-md-6:nth-last-of-type(-n+1) {
        margin-bottom: 0;
    }

    .cta-con2 {
        text-align: center;
    }

    .cta-con2::before {
        opacity: 20%;
        width: 100%;
    }

    .our-collection-con .row {
        margin-bottom: 25px;
    }

    .cta-con2 .vector3 {
        top: 30px;
        right: unset;
        width: 33px;
        left: 30px;
    }

    .cta-con2 {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .our-collection-con .col-xl-4.col-lg-6.col-md-6 {
        padding: 0 9px;
    }

    .our-collection-con .col-xl-4.col-lg-6.col-md-6:nth-last-of-type(-n+3) {
        margin-bottom: 25px;
    }

    .our-collection-con .col-xl-4.col-lg-6.col-md-6 {
        margin-bottom: 25px;
    }

    .seller-box {
        padding-bottom: 25px;
    }

    .our-collection-con .col-xl-4.col-lg-6.col-md-6:nth-last-of-type(-n+2) {
        margin-bottom: 0;
    }

    .promotion-con2 .col-lg-4.col-md-6 {
        width: 350px;
        margin: 0 auto 20px;
    }

    .promotion-con2 .promo-box1.bg-light1 figure {
        width: 157px;
    }

    .promotion-con2 .promo-box1.bg-light2 figure {
        width: 116px;
    }

    .promotion-con2 .promo-box1.bg-light3 figure {
        position: relative;
    }

    .heading5 {
        font-size: 26px;
        line-height: 32px;
    }

    .heading3 {
        font-size: 28px;
        line-height: 354x;
    }

    .banner-con .banner-img1 {
        left: 0;
        width: 180px;
    }

    .banner-con .banner-img2 {
        right: 0;
        width: 160px;
    }

    .banner-con p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 16px;
        padding: 0 22%;
    }

    .banner-con {
        padding-top: 30px;
    }

    .banner-con span.banner-span {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 6px;
    }

    .banner-con h1.font-size92 {
        margin-bottom: 16px;
    }

    .button_down {
        bottom: 8px;
    }

    .banner-con .secondary_btn {
        margin-bottom: 90px;
        font-size: 14px;
    }

    .promotion-con2 .promo-box1.bg-light1::after,
    .promotion-con2 .promo-box1.bg-light2::after,
    .promotion-con2 .promo-box1.bg-light3::after,
    .promotion-con2 .promo-box1.bg-light4::after {
        display: none;
    }

    #search input[type="search"] {
        font-size: 26px;
        padding: 6px;
    }
}

@media screen and (max-width: 575px) {

    h1,
    h1.font-size92 {
        font-size: 30px;
        line-height: 36px;
    }

    h2 {
        font-size: 26px;
        line-height: 30px;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }

    h4 {
        font-size: 20px;
        line-height: 26px;
    }

    h5 {
        font-size: 18px;
        line-height: 22px;
    }

    h6 {
        font-size: 18px;
        line-height: 24px;
    }

    /* Policy Pages */
    .privacy-policy-con h5 {
        font-size: 16px;
        line-height: 24px;
    }

    /* Back to top button */
    #button {
        width: 44px;
        height: 44px;
        right: 15px;
        bottom: 62px;
    }

    #button::after {
        font-size: 16px;
        line-height: 16px;
    }

    .padding-bottom {
        padding-bottom: 40px;
    }

    .padding-top {
        padding-top: 40px;
    }

    .privacy-policy-content-con h2 {
        margin-bottom: 18px;
    }

    .privacy-policy-content-con h4 {
        margin-bottom: 11px;
    }

    .privacy-policy-content-con {
        text-align: center;
    }

    .privacy-policy-content-con .col-12 {
        padding: 0 13px;
    }

    .privacy-policy-content-con p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 16px;
    }

    p {
        font-size: 16px;
        line-height: 25px;
    }

    .breadcrumb {
        padding: 15px 20px;
        min-width: 170px;
    }

    .breadcrumb-item+.breadcrumb-item::before {
        padding: 0 10px;
    }

    .breadcrumb-item+.breadcrumb-item {
        padding-left: 0;
    }

    .breadcrumb-item {
        font-size: 14px;
        line-height: 14px;
    }

    /* 404 page */
    .error-con h2 {
        font-size: 70px;
        line-height: 70px;
        margin-bottom: 13px;
    }

    .error-con p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .error-con p br {
        display: none;
    }

    .error-con .generic-btn a {
        padding: 16px 28px;
        font-size: 14px;
    }

    /* 404 page */
    /* coming soon page */
    .coming-soon-con h2 {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 10px;
    }

    .coming-soon-social-links ul {
        margin-bottom: 16px;
    }

    .error-con h4 {
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 14px;
    }

    .error-con .primary-btn {
        min-width: 200px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
        height: 54px;
        border-radius: 30px;
        padding: 12px 20px;
    }

    .coming-soon-con h3 {
        font-size: 22px;
        line-height: 28px;
    }

    .coming-soon-con h1 {
        margin-bottom: 20px;
        font-size: 38px;
        line-height: 38px;
    }

    .compaign_countdown ul li {
        margin: 0 5px;
        min-width: auto;
        padding: 9px 18px;
        font-size: 15px;
        border-radius: 15px;
    }

    .compaign_countdown ul li span.days,
    .compaign_countdown ul li span.hours,
    .compaign_countdown ul li span.minutes,
    .compaign_countdown ul li span.seconds {
        font-size: 27px;
        line-height: 27px;
    }

    .error-con h2 i {
        font-size: 65px;
        line-height: 65px;
    }

    .error-con .primary_btn {
        min-width: 200px;
    }

    /* Login Page */
    .login-form .login-page-logo {
        margin-bottom: 20px;
    }

    .login-form .login-card {
        padding: 25px 20px;
    }

    .login-form .login-form-box {
        width: 100%;
    }

    .sign-up-form .login-card .select-option {
        padding: 0 30px 0 15px;
    }

    .login-page-logo img {
        width: 150px;
    }

    /*  */
    .thank-you-con .thankyou-content-con p {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 18px;
        padding: 0px 2%;
    }

    .thank-you-con .thankyou-content-con h1 {
        margin-bottom: 12px;
    }

    .thank-you-con .thankyou-content-con figure {
        width: 90px;
        height: 90px;
        margin: 0 auto 10px;
    }

    .thank-you-con .thankyou-content-con figure img {
        width: 50px;
    }

    .thank-you-con .primary_btn {
        min-width: 170px;
    }

    /* TOP BAR */
    .top-bar-con {
        padding: 10px 0;
    }

    .top-bar-con .top-bar-info p {
        font-size: 12px;
        line-height: 12px;
    }

    .top-bar-con {
        padding: 0 0;
    }

    .top-bar-con .top-bar-info p {
        font-size: 12px;
        line-height: 12px;
    }

    .navbar-nav .drop-down-pages .nav-item a {
        padding: 10px 30px !important;
    }

    .navbar-brand {
        left: 0;
    }

    .navbar-collapse {
        top: 45px;
    }

    .navbar-nav .nav-item a {
        padding: 10px 20px !important;
    }

    .navbar-nav .drop-down-pages .nav-item a {
        padding: 10px 30px !important;
    }

    .header-con .last_list a {
        margin: 0 10px;
    }

    /* FOOTER SECTION */
    .footer-con .middle_portion {
        width: 100%;
        margin: 0 auto;
    }

    .footer-con .middle_portion .logo-content {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-con .middle_portion .links {
        margin-bottom: 20px;
    }

    .footer-con .middle_portion .icon .text {
        display: block;
    }

    .footer-con .copyright {
        padding: 12px 0;
    }

    .footer-con .copyright .content {
        display: block;
        text-align: center;
    }

    .footer-con .copyright p {
        margin-bottom: 10px !important;
    }

    .other_list .country-selector,
    .other_list .currency-selector {
        font-size: 13px;
        line-height: 13px;
    }

    .other_list .country-selector {
        margin-right: 6px;
    }

    .primary_btn,
    .secondary_btn {
        min-width: 165px;
        height: 52px;
        line-height: 52px;
        font-size: 14px;
    }

    .top-bar-con .top-bar-box {
        display: block !important;
        text-align: center;
        margin: 0 auto;
    }

    .top-bar-info {
        margin-bottom: 10px;
    }

    .other_list {
        justify-content: center;
    }

    .header-con {
        padding: 15px 11px !important;
    }

    .promotion-con .promotion-box3 figure img {

        display: none;
    }

    .promotion-con .promotion-box3 figure::after {
        display: none;
    }

    .promotion-con .promotion-box3 {
        height: auto;
        text-align: center;
        padding: 20px;
    }

    .heading3 {
        font-size: 24px;
        line-height: 32px;
    }

    .heading5 {
        font-size: 24px;
        line-height: 32px;
    }

    .trending-text {
        font-weight: 500;
        font-size: 13px;
    }

    .promotion-con .promotion-box4 a.primary_btn,
    .promotion-con .promotion-box5 a.primary_btn {
        min-width: 150px;
        height: 46px;
        line-height: 46px;
    }

    .promotion-con .promotion-box4,
    .promotion-con .promotion-box5 {
        padding: 20px;
    }

    .promotion-con .promotion-box4 h2,
    .promotion-con .promotion-box5 h2 {
        margin-bottom: 15px;
    }

    .newsletter-con input {
        height: 52px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .newsletter-con button {
        width: 100%;
    }

    .newsletter-con {
        padding: 30px 15px !important;
    }

    .benefits-con span {
        font-size: 16px;
        line-height: 25px;
    }

    .off-tag {
        font-size: 32px;
        line-height: 44px;
    }

    .promotion-con .promotion-box1 img {
        position: relative;
    }

    .promotion-con .promotion-box1 {
        padding-top: 20px;
    }

    .promotion-con .promotion-box2 {
        padding-bottom: 20px;
    }

    .promotion-con .promotion-box1,
    .promotion-con .promotion-box2,
    .promotion-con .promotion-box3 {
        height: auto;
    }

    .promotion-con .promotion-box1 a {
        margin-bottom: 12px;
    }

    .benefits-con .benefits-box {
        padding: 20px 30px;
    }

    .sub-banner-con {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .sub-banner-con h1 {
        margin-bottom: 16px;
    }

    /*  */
    .faq-con .accordian-inner .card-header a {
        padding: 10px 28px 10px 10px;
    }

    .faq-con .accordion-card h6 {
        font-size: 16px;
    }

    .faq-con .accordian-inner .card-body {
        padding: 0 15px 15px 15px;
    }

    .faq-con .accordian-inner .card-body p {
        font-size: 14px;
        line-height: 24px;
    }

    .faq-con .accordion-card .btn-link:before {
        right: 10px;
        font-size: 15px;
    }

    .about-us-img-con figure {
        width: 280px;
        margin: 0 auto 20px;
    }

    .about-us-content-con p {
        line-height: 25px;
        font-size: 15px;
        margin-bottom: 8px;
    }

    .our-mission-con .mission-inner-con p {
        line-height: 26px;
        margin-bottom: 8px;
    }

    .our-team-con .team-box figure {
        margin-bottom: 20px;
        width: 200px;
    }

    .our-team-con .owl-prev {
        left: 0;
    }

    .our-team-con .owl-next {
        right: 0;
    }

    .our-team-con .owl-prev,
    .our-team-con .owl-next {
        top: 29%;
    }

    .our-team-con .owl-prev i,
    .our-team-con .owl-next i {
        font-size: 16px;
    }

    .our-team-con .team-box ul li i {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 13px;
    }

    .contact-help-con .col-lg-4.col-md-4 {
        margin-bottom: 20px;
    }

    .contact-form-con form ul li input {
        height: 46px;
    }

    .contact-form-con form ul li {
        margin-bottom: 14px;
    }

    .contact-form-con form ul li:last-child {
        margin-bottom: 20px;
    }

    .contact-map-con iframe {
        height: 290px;
    }

    /*  */
    .follow-con ul {
        width: 100%;
    }

    .follow-con ul li {
        margin: 0 0 15px;
    }

    .follow-con ul li:first-child {
        margin-left: 0;
    }

    .follow-con ul li:last-child {
        margin-right: 0;
    }

    .follow-con li .image img {
        width: 180px;
    }

    .follow-con li .icon i {
        font-size: 20px;
    }

    /*  */
    .testimonial-con2 .testimonial-box .lower_content {
        margin-bottom: 25px;
    }

    .testimonial-con2 .carousel-indicators li {
        margin: 0;
    }

    .testimonial-con2 .carousel-indicators li figure {
        width: 58px;
        height: 58px;
        line-height: 55px;
    }

    .testimonial-con2 .carousel-indicators li img {
        width: 44px;
    }

    .testimonial-con2 .pagination_outer {
        display: none;
    }

    .product-categories-con ul li figure {
        width: 105px;
        height: 105px;
        margin: 0 auto 12px;
    }

    .our-collection-con .col-xl-4.col-lg-6.col-md-6:nth-last-of-type(-n+2) {
        margin-bottom: 25px;
    }

    .our-collection-con .col-xl-4.col-lg-6.col-md-6:nth-last-of-type(-n+1) {
        margin-bottom: 0;
    }

    .seller-box .seller_image_box {
        min-height: 270px;
    }

    .promotion-con2 .promo4 .promo-content-con {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .promotion-con2 .col-lg-4.col-md-6 {
        width: 100%;
        margin: 0 auto 20px;
    }

    .banner-con .banner-img1 {
        left: 0;
        width: 200px;
        opacity: 60%;
        z-index: -1;
    }

    .banner-con .banner-img2 {
        right: 0;
        width: 180px;
        opacity: 60%;
        z-index: -1;
    }

    .button_down {
        bottom: 8px;
        display: none;
    }

    .banner-con .secondary_btn {
        margin-bottom: 0;
        font-size: 14px;
    }

    .banner-con p {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 14px;
        padding: 0 4%;
    }

    .banner-con span.banner-span {
        font-size: 13px;
        line-height: 20px;
        margin-top: 9px;
        margin-bottom: 4px;
        letter-spacing: 1.1px;
    }

    .promo-content-con {
        padding-left: 20px;
    }

    .promotion-con2 .promo2 .promo-content-con {
        padding-left: 0;
        padding-right: 0;
    }

    .banner-con {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .cta-con2 .vector3,
    .cta-con2 .vector2,
    .cta-con2 .vector1 {
        display: none;
    }

    h4.font-size30 {
        font-size: 17px;
        line-height: 24px;
    }

    .cta-con2 h4 {
        margin-bottom: 16px;
    }

    .cta-con2 {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    #search input[type="search"] {
        font-size: 22px;
        padding: 4px;
    }
}

@media screen and (max-width: 350px) {

    h1,
    h1.font-size92 {
        font-size: 30px;
        line-height: 36px;
    }

    .compaign_countdown ul li {
        margin: 0 4px;
        min-width: auto;
        padding: 8px 14px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 12px;
    }

    .compaign_countdown ul li span.days,
    .compaign_countdown ul li span.hours,
    .compaign_countdown ul li span.minutes,
    .compaign_countdown ul li span.seconds {
        font-size: 25px;
        line-height: 25px;
    }

    .coming-soon-con .new-logo {
        margin-bottom: 20px;
    }

    .coming-soon-con h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .coming-soon-con h1 {
        margin-bottom: 17px;
        font-size: 35px;
        line-height: 35px;
    }

    .thank-you-con .thankyou-content-con p {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 16px;
        padding: 0px 2%;
    }

    .header-con .last_list a img {
        width: 16px;
    }

    .header-con .last_list a {
        margin: 0 7px;
    }

    .promotion-con .seller-text {
        font-size: 13px;
    }

    .off-tag {
        font-size: 30px;
        line-height: 40px;
    }

    .heading3 {
        font-size: 26px;
        line-height: 32px;
    }

    .promotion-con .promotion-box4 a.primary_btn,
    .promotion-con .promotion-box5 a.primary_btn {
        min-width: 140px;
        height: 46px;
        line-height: 46px;
        font-size: 13px;
    }

    .benefits-con .benefits-box {
        padding: 20px 25px;
    }

    .sub-banner-con {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .sub-banner-con h1 {
        margin-bottom: 12px;
    }

    /* faq */
    .faq-con .col-xl-6 {
        padding: 0;
    }

    .about-us-img-con figure {
        width: 100%;
        margin: 0 auto 20px;
    }

    .our-team-con .team-box figure {
        margin-bottom: 18px;
        width: 180px;
    }

    .our-team-con .owl-prev {
        left: 0;
    }

    .our-team-con .team-box .designation {
        margin-bottom: 8px;
        font-size: 15px;
    }

    .our-team-con .team-box h5 {
        margin-bottom: 4px;
    }

    .our-team-con .owl-next {
        right: 0;
    }

    .trending-text {
        font-size: 13px;
        line-height: 21px;
    }

    h4 {
        font-size: 18px;
        line-height: 24px;
    }

    #search input[type="search"] {
        font-size: 20px;
        padding: 2px;
    }
}