<tr class="cart-item cart-item--bold" data-key="{{ITEM_KEY}}" data-reveal-item>
    <td class="cart-item-remove cart-item-remove--bold">{{REMOVE_BTN}}</td>
    <td class="cart-item-image cart-item-image--bold">
        <img loading="lazy" src="{{IMAGE}}" alt="{{TITLE}}">
    </td>
    <td class="cart-item-details cart-item-details--bold">
        <a href="{{URL}}" class="cart-item-name cart-item-name--bold">{{TITLE}}</a>
        <span class="cart-item-price cart-item-price--bold">{{PRICE}}</span>
    </td>
    <td class="cart-item-quantity cart-item-quantity--bold">{{QUANTITY}}</td>
    <td class="cart-item-subtotal cart-item-subtotal--bold">{{SUBTOTAL}}</td>
</tr>