<div data-component="bold-product-card" data-instance="{{bold-product-card_id}}" data-token-group="bold-product-card" class="product-card product-card--bold">
    <div class="product-card-image">
        <div class="product-card-badge">{{BADGE}}</div>
        <a href="{{URL}}">
            <img data-asset="{{image_{{IMAGE}}}" loading="lazy" src="{{IMAGE}}" alt="{{NAME}}">
        </a>
    </div>
    <div class="product-card-body">
        {{RATING}}
        <h3 class="product-card-title"><a href="{{URL}}">{{NAME}}</a></h3>
        <div class="product-card-categories">{{CATEGORIES}}</div>
        <div class="product-card-footer">
            <span class="product-card-price">{{PRICE}}</span>
            {{ATC_BUTTON}}
        </div>
    </div>
</div>
