<a href="{{URL}}" class="blog-card" data-component="blog-card" data-editable="true" data-settings-group="blog" data-token-group="blog" data-version="1.0" data-tilt data-reveal-item>
    <div class="blog-card-image" data-image-zoom>
        <img data-asset="{{image_{{IMAGE}}}}" data-asset="{{image_}}"  loading="lazy" src="{{IMAGE}}" alt="{{TITLE}}">
        <span class="blog-category">{{CATEGORY}}</span>
    </div>
    <div class="blog-card-content">
        <span class="blog-date">{{DATE}}</span>
        <h3 class="blog-card-title">{{TITLE}}</h3>
        <p class="blog-card-excerpt">{{EXCERPT}}</p>
        <span class="blog-read-more">{{READ_MORE_TEXT}} <i class="fas fa-arrow-right"></i></span>
    </div>
</a>
