<div class="blog-card" data-post-id="{{POST_ID}}">
    <a href="{{PERMALINK}}" class="blog-card__image-link">
        <img src="{{IMAGE}}" alt="{{TITLE}}" loading="lazy" class="blog-card__image">
    </a>
    <div class="blog-card__body">
        <span class="blog-card__date">{{DATE}}</span>
        <h3 class="blog-card__title">
            <a href="{{PERMALINK}}">{{TITLE}}</a>
        </h3>
        <p class="blog-card__excerpt">{{EXCERPT}}</p>
        <span class="blog-card__read-more">{{READ_MORE_TEXT}}</span>
    </div>
</div>
