<tr class="cart-item" data-component="cart-item" data-editable="true" data-settings-group="cart" data-token-group="cart" data-version="1.0" data-key="{{ITEM_KEY}}" data-reveal-item>
    <td class="cart-item-remove">{{REMOVE_BTN}}</td>
    <td class="cart-item-image">
        <img loading="lazy" src="{{IMAGE}}" alt="{{TITLE}}">
    </td>
    <td class="cart-item-details">
        <a href="{{URL}}" class="cart-item-name">{{TITLE}}</a>
        <span class="cart-item-price">{{PRICE}}</span>
    </td>
    <td class="cart-item-quantity">{{QUANTITY}}</td>
    <td class="cart-item-subtotal">{{SUBTOTAL}}</td>
</tr>