<div class="checkout-item" data-component="checkout-item" data-editable="true" data-settings-group="checkout" data-token-group="checkout" data-version="1.0" data-reveal-item>
    <div class="checkout-item-image">
        <img data-asset="{{image_{{IMAGE}}}}" data-asset="{{image_}}"  loading="lazy" src="{{IMAGE}}" alt="{{TITLE}}">
    </div>
    <div class="checkout-item-details">
        <h4 class="checkout-item-name">{{TITLE}}</h4>
        <span class="checkout-item-meta">{{META}}</span>
        <span class="checkout-item-price">{{PRICE}}</span>
    </div>
    <div class="checkout-item-total">
        <span class="checkout-item-subtotal">{{SUBTOTAL}}</span>
    </div>
</div>