<div class="comment-card" data-component="comment-card" data-editable="true" data-settings-group="blog" data-token-group="blog" data-version="1.0" data-reveal-item id="comment-{{ID}}">
    <div class="comment-card-avatar">{{AVATAR}}</div>
    <div class="comment-card-body">
        <div class="comment-card-header">
            <span class="comment-card-author">{{AUTHOR}}</span>
            <span class="comment-card-date">{{DATE}}</span>
        </div>
        <div class="comment-card-content">{{CONTENT}}</div>
        <div class="comment-card-actions">
            {{REPLY_BTN}}
        </div>
        <div class="comment-card-replies">{{REPLIES}}</div>
    </div>
</div>