<article class="blog-card blog-card--dark" data-aos="fade-up">
    <div class="blog-card-image">
        <a href="{{URL}}">
            <img loading="lazy" src="{{IMAGE}}" alt="{{TITLE}}">
        </a>
        <div class="blog-card-category">{{CATEGORY}}</div>
    </div>
    <div class="blog-card-body">
        <div class="blog-card-meta">
            <span class="blog-card-date">{{DATE}}</span>
            <span class="blog-card-author">{{AUTHOR}}</span>
        </div>
        <h3 class="blog-card-title"><a href="{{URL}}">{{TITLE}}</a></h3>
        <p class="blog-card-excerpt">{{EXCERPT}}</p>
        <a href="{{URL}}" class="blog-card-readmore">Read More <i class="fas fa-arrow-right"></i></a>
    </div>
</article>
