<tr class="cart-item cart-item--dark" data-key="{{ITEM_KEY}}" data-reveal-item>
    <td class="cart-item-remove">{{REMOVE_BTN}}</td>
    <td class="cart-item-image">
        <img data-asset="{{image_{{IMAGE}}}" loading="lazy" src="{{IMAGE}}" alt="{{TITLE}}">
    </td>
    <td class="cart-item-details">
        <a href="{{URL}}" class="cart-item-name cart-item-name--dark">{{TITLE}}</a>
        <span class="cart-item-price cart-item-price--dark">{{PRICE}}</span>
    </td>
    <td class="cart-item-quantity">{{QUANTITY}}</td>
    <td class="cart-item-subtotal cart-item-subtotal--dark">{{SUBTOTAL}}</td>
</tr>
