<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="phantom-core">
            <file>settings-registry-test.php</file>
            <file>settings-crud-test.php</file>
            <file>font-families-test.php</file>
            <file>global-palette-test.php</file>
        </testsuite>
    </testsuites>
</phpunit>
