<tr class="cart-item cart-item--minimal" data-key="{{ITEM_KEY}}" data-reveal-item>
    <td class="cart-item-remove cart-item-remove--minimal">{{REMOVE_BTN}}</td>
    <td class="cart-item-image cart-item-image--minimal">
        <img loading="lazy" src="{{IMAGE}}" alt="{{TITLE}}">
    </td>
    <td class="cart-item-details cart-item-details--minimal">
        <a href="{{URL}}" class="cart-item-name cart-item-name--minimal">{{TITLE}}</a>
        <span class="cart-item-price cart-item-price--minimal">{{PRICE}}</span>
    </td>
    <td class="cart-item-quantity cart-item-quantity--minimal">{{QUANTITY}}</td>
    <td class="cart-item-subtotal cart-item-subtotal--minimal">{{SUBTOTAL}}</td>
</tr>
