<div class="product-card product-card--minimal">
    <a href="{{URL}}" class="product-card-link">
        <div class="product-card-image">
            <img loading="lazy" src="{{IMAGE}}" alt="{{NAME}}">
        </div>
        <div class="product-card-body">
            <h3 class="product-card-title">{{NAME}}</h3>
            {{CATEGORIES}}
            <div class="product-card-footer">
                <span class="product-card-price">{{PRICE}}</span>
                {{RATING}}
            </div>
        </div>
    </a>
    {{ATC_BUTTON}}
</div>
